<!DOCTYPE html>
<html lang="en">

<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #titleHeader{
        border: 3px solid #533f03;
        border-collapse: collapse;
        height: 120px;
        background-color: khaki;


        margin-top: 0;
        padding: 35px 0;

        /* add some book pic (as a logo)?*/

        font-family: "Lucida Console";
        font-size: 60px;
    }
</style>
    <img src="/static/images/cs.png"/>


<head>
    <meta charset="UTF-8">
    <title>Welcome to the library!</title>
</head>
<body>
<h1 id="titleHeader"><img class="bookLogo" src="/static/images/booksLogo.jpg" Bibl.io</h1>
</body>
</html>